<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Hardware</title>
</head>
<body>
    <h2>Hardware info:</h2>
    <h3>Disk Info:</h3>
    {% for i in range(end=2) %}
        <p>Disk name :: {{disks_name[i]}}</p>
        <p>Disk fs :: {{disks_fs[i]}}</p>
        <p>Disk mount :: {{disks_mount[i]}}</p>
        <p>Disk storage availability :: {{disks_available[i]}} MB</p>
        <p>Total disk space :: {{disks_total[i]}}MB</p>
        <hr>
    {% endfor %}

    <h3>Sys Info</h3>
    <p>Total Memory: {{tot_mem}} B</p>
    <p>Used memory: {{used_mem}} B</p>
    <p>Total swap: {{tot_swap}} B</p>
    <p>Used swap: {{used_swap}} B</p>
    <p>Num processors: {{num_processors}}</p>

    <script>
        $.get("/api/cpu/", function(data, status){
            console.log(JSON.stringify(data));
        });
    </script>
</body>
</html>